@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #101010;
  padding-top: 15vh;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .rows .link {
  color: white;
  text-decoration: none;
}

body .container .rows .link .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 300px;
  position: relative;
  border-radius: 60px;
  margin: 50px auto;
  font-size: 2em;
  font-family: kalam;
  -webkit-box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.6), 0 0 0 0 rgba(39, 200, 255, 0.6);
          box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.6), 0 0 0 0 rgba(39, 200, 255, 0.6);
  -webkit-transform: none;
          transform: none;
  -webkit-transition: font-size 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: font-size 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  overflow: hidden;
}

body .container .rows .link .btn::after {
  content: '';
  width: 600px;
  height: 600px;
  position: absolute;
  top: -20%;
  z-index: -1;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

body .container .rows .link .btn:hover {
  -webkit-transform: translate(0, -6px);
          transform: translate(0, -6px);
  -webkit-box-shadow: 10px -10px 25px rgba(143, 64, 248, 0.6), -10px 10px 25px 0 rgba(39, 200, 255, 0.6);
          box-shadow: 10px -10px 25px rgba(143, 64, 248, 0.6), -10px 10px 25px 0 rgba(39, 200, 255, 0.6);
  font-size: calc(2em + .5px);
}

body .container .rows .link .btn:hover::after {
  -webkit-transform: rotate(160deg) translateY(50px);
          transform: rotate(160deg) translateY(50px);
}

body .container .rows .link .btn span {
  font-family: Kalam;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}
/*# sourceMappingURL=button.css.map */