.container{
    margin: 0 auto;
    padding: 40px;
    padding-top: 100px;
    border: solid 2px white;
}
.header{
    background-image: url(../Images/windmills1.jpg);
}
.MathJax_Display { 
    text-align: left !important;
    color: cyan;
}

@media (min-width:1420px){
    body{
        font-size:1rem;
    }
    .container{
        width: 70%;
    }
}
@media (max-width:1420px){
    body{
        font-size:.9rem;
    }
    .container{
        width: 70%;
    }
}
@media (max-width:1320px){
    body{
        font-size:.9rem;
    }
    .container{
        width: 75%;
    }
}
@media (max-width:1000px){
    body{
        font-size:.9rem;
    }
    .container{
        width: 75%;
    }
}
@media (max-width:900px){
    body{
        font-size:.8rem;
    }
    .container{
        width: 80%;
    }
}
@media (max-width:800px){
    body{
        font-size:.7rem;
    }
    .container{
        width: 85%;
    }
}
@media (max-width:700px){
    body{
        font-size:.6rem;
    }
    .container{
        width: 95%;
    }
}
@media (max-width:600px){
    body{
        font-size:.5rem;
    }
    .container{
        width: 100%;
    }
}