* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	.footer {
		width: 100%;
		height: 7vw;
		background-color: indigo;
		margin-top: 5vw;
		display: flex;
		align-items: center;
		font-size: 1.6vw;
		font-family: monotype corsiva;
		img {
			margin-left: 2vw;
			height: 70%;
		}
		.credit {
			margin-left: 3vw;
		}
		.webdev {
			position: relative;
			transform: translate(190%);
			right: 0;
			@media (hover: none) and (pointer: coarse) {
				display: none;
			}
		}
		.contr {
			position: absolute;
			right: 2vw;
			&:before {
				content: '';
				position: absolute;
				width: 0.05vw;
				height: 100%;
				transform: translate(-2vw);
				background-color: #cccccc;
			}
		}
		span {
			margin-left: 7.8vw;
		}
	}
}
