.header {
	background-image: url(../../Images/windmills1.jpg);
}

.container {
	margin: 0 auto;
	padding: 40px;
	padding-top: 7vw;
	font-family: 'monotype corsiva';
	.formula {
		color: rgb(255, 255, 255);
		img {
			width: 100%;
		}
	}
}
.MathJax_Display {
	text-align: left !important;
}

@media (min-width: 1420px) {
	body {
		font-size: 1.2rem;
	}
	.container {
		width: 70%;
	}
}
@media (max-width: 1420px) {
	body {
		font-size: 1.1rem;
	}
	.container {
		width: 70%;
	}
}
@media (max-width: 1320px) {
	body {
		font-size: 1rem;
	}
	.container {
		width: 75%;
	}
}
@media (max-width: 1000px) {
	body {
		font-size: 0.9rem;
	}
	.container {
		width: 80%;
	}
}
@media (max-width: 900px) {
	body {
		font-size: 0.8rem;
	}
	.container {
		width: 85%;
	}
}
@media (max-width: 800px) {
	body {
		font-size: 0.7rem;
	}
	.container {
		width: 85%;
	}
}
@media (max-width: 700px) {
	body {
		font-size: 0.55rem;
	}
	.container {
		width: 90%;
	}
}
@media (max-width: 600px) {
	body {
		font-size: 0.45rem;
	}
	.container {
		width: 100%;
	}
}
