* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .header {
  background: url(../../Images/windmills2.jpg);
}

body .main {
  display: inline-block;
}

body .main .q1,
body .main .q2,
body .main .part1,
body .main .part2 {
  display: flow-root;
}

body .main .heading {
  width: 100%;
  margin: 4vw 0;
  background: -webkit-gradient(linear, left top, right top, from(#74d5dd), color-stop(25%, #74d5dd), color-stop(75%, transparent));
  background: linear-gradient(to right, #74d5dd, #74d5dd 25%, transparent 75%);
  padding-left: 3vw;
  font-size: 3vw;
  color: #121212;
}

body .main .head2 {
  margin-top: 8vw;
}

body .main .txt-cont,
body .main .img-cont {
  font-size: 1.6vw;
  width: 44%;
  text-align: justify;
  font-family: monotype corsiva;
  border-radius: 15px;
}

body .main .txt-cont {
  padding: 5vw;
}

body .main .txt-cont h2 {
  padding-bottom: 1.3vw;
  font-size: 3vw;
}

body .main .txt-cont dl h3::before {
  font-family: 'FontAwesome';
  content: '\f101';
  position: absolute;
  -webkit-transform: translate(-2.2vw);
          transform: translate(-2.2vw);
  margin-bottom: 0.5vw;
}

body .main .txt-cont dl dt {
  font-weight: 900;
  font-style: italic;
}

body .main .txt-cont dl dt::before {
  position: absolute;
  font-family: 'FontAwesome';
  content: '\f105';
  -webkit-transform: translate(-1vw);
          transform: translate(-1vw);
}

body .main .txt-cont dl dd {
  margin-left: 1.2vw;
  margin-bottom: 0.3vw;
}

body .main .img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.3vw 0;
  -webkit-transition: padding 0.25s ease, -webkit-transform 0.25s ease;
  transition: padding 0.25s ease, -webkit-transform 0.25s ease;
  transition: padding 0.25s ease, transform 0.25s ease;
  transition: padding 0.25s ease, transform 0.25s ease, -webkit-transform 0.25s ease;
}

body .main .img-cont img {
  width: 90%;
  border-radius: 15px;
  -webkit-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

body .main .graph:hover {
  padding: 1.1vw 0;
  -webkit-transform: scale(1.04, 1.04);
          transform: scale(1.04, 1.04);
}

body .main .graph:hover img {
  width: 100%;
}

body .main .china {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(200deg, #00cccc, #005252);
}

body .main .china-graph {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(160deg, #00cccc, #003452);
}

body .main .us {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, #ff9900, #ff5100);
  margin-top: 3vw;
}

body .main .us-graph {
  float: left;
  margin-left: 4.5vw;
  margin-top: 3vw;
  background-image: linear-gradient(210deg, #ff7701, #4b000c);
}

body .main .brazil {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #30cfd0, #330867);
  margin-top: 3vw;
}

body .main .brazil-graph {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, #6830d0, #30cfd0);
  margin-top: 3vw;
}

body .main .india {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, blueviolet, violet);
  margin-top: 3vw;
}

body .main .india-graph {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #e278ed, #6f14c5);
  margin-top: 3vw;
}

body .main .conclusion {
  float: left;
  margin-left: 4.5vw;
  background-image: radial-gradient(at top right, #00c8ff, #006464);
  padding-bottom: 3.5vw;
  padding-top: 3.5vw;
}

body .main .conclusion h3 {
  font-size: 2.5vw;
  margin-bottom: 1vw;
}

body .main .conc-graph {
  float: right;
  margin-right: 4.5vw;
  background-image: radial-gradient(at top left, #00c8ff, #006464);
}

body .main .nuclearP {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #ff9900, #ff5100);
  margin-top: 3vw;
}

body .main .nuclearP-img {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(150deg, #ff5100, #ff9900);
  margin-top: 3vw;
}

body .main .nuclearF-img {
  float: left;
  margin-left: 4.5vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#00cccc), to(#003d61));
  background-image: linear-gradient(90deg, #00cccc, #003d61);
  margin-top: 3vw;
}

body .main .nuclearF {
  float: right;
  margin-right: 4.5vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#003d61), to(#00cccc));
  background-image: linear-gradient(90deg, #003d61, #00cccc);
  margin-top: 3vw;
  line-height: 1.9276vw;
}
/*# sourceMappingURL=science-hhw.css.map */