* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .header {
  background: url(../../Images/solarmill.jpg);
}

body .main {
  display: inline-block;
}

body .main .q1 {
  display: flow-root;
}

body .main .q2 {
  display: flow-root;
}

body .main .heading {
  width: 100%;
  margin: 4vw 0;
  background: -webkit-gradient(linear, left top, right top, from(#74D5DD), color-stop(25%, #74D5DD), color-stop(75%, transparent));
  background: linear-gradient(to right, #74D5DD, #74D5DD 25%, transparent 75%);
  padding-left: 3vw;
  font-size: 3vw;
  color: #121212;
}

body .main .head2 {
  margin-top: 8vw;
}

body .main .txt-cont, body .main .img-cont {
  font-size: 1.6vw;
  width: 44%;
  text-align: justify;
  font-family: monotype corsiva;
  border-radius: 15px;
}

body .main .txt-cont {
  padding: 5vw;
}

body .main .txt-cont h2 {
  padding-bottom: 1.3vw;
  font-size: 3vw;
}

body .main .txt-cont dl h3::before {
  font-family: 'FontAwesome';
  content: '\f101';
  position: absolute;
  -webkit-transform: translate(-2.2vw);
          transform: translate(-2.2vw);
  margin-bottom: 0.5vw;
}

body .main .txt-cont dl dt {
  font-weight: 900;
  font-style: italic;
}

body .main .txt-cont dl dt::before {
  font-family: 'FontAwesome';
  content: '\f105';
}

body .main .txt-cont dl dd {
  margin-left: 1.2vw;
  margin-bottom: 0.3vw;
}

body .main .img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.3vw 0;
}

body .main .img-cont img {
  width: 90%;
  border-radius: 15px;
}

body .main .solar {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(200deg, #00cccc, #005252);
}

body .main .solar-img {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(160deg, #00cccc, #003452);
}

body .main .wind {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, #ff9900, #ff5100);
  margin-top: 3vw;
}

body .main .wind-img {
  float: left;
  margin-left: 4.5vw;
  margin-top: 3vw;
  background-image: linear-gradient(210deg, #ff5100, #4b000c);
}

body .main .tidal {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #30cfd0, #330867);
  margin-top: 3vw;
}

body .main .tidal-img {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, #6830d0, #30cfd0);
  margin-top: 3vw;
}

body .main .biomass {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, blueviolet, violet);
  margin-top: 3vw;
  padding-bottom: 5.7vw;
}

body .main .biomass-img {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #E278ED, #6f14c5);
  margin-top: 3vw;
}

body .main .carbon {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(210deg, #ff9900, #ff5100);
}

body .main .carbon li {
  list-style-type: none;
  margin-bottom: 0.5vw;
}

body .main .carbon li::before {
  font-family: 'FontAwesome';
  content: '\f105';
  position: absolute;
  -webkit-transform: translate(-1.2vw);
          transform: translate(-1.2vw);
}

body .main .carbon-img {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #FF7E01, #ff3100);
}

body .main .nuclearP {
  float: left;
  margin-left: 4.5vw;
  background-image: linear-gradient(210deg, #30cfd0, #330867);
  margin-top: 3vw;
}

body .main .nuclearP-img {
  float: right;
  margin-right: 4.5vw;
  background-image: linear-gradient(150deg, #316E9D, #330867);
  margin-top: 3vw;
}

body .main .nuclearF-img {
  float: left;
  margin-left: 4.5vw;
  background-image: -webkit-gradient(linear, right top, left top, from(#00cccc), to(#003d61));
  background-image: linear-gradient(270deg, #00cccc, #003d61);
  margin-top: 3vw;
}

body .main .nuclearF {
  float: right;
  margin-right: 4.5vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#01C5C7), to(#00588b));
  background-image: linear-gradient(90deg, #01C5C7, #00588b);
  margin-top: 3vw;
}

body .main .space {
  float: left;
  margin-left: 4.5vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blueviolet), to(violet));
  background-image: linear-gradient(blueviolet, violet);
  margin-top: 3vw;
  padding-bottom: 4.2vw;
}

body .main .space-img {
  float: right;
  margin-right: 4.5vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(blueviolet), to(violet));
  background-image: linear-gradient(180deg, blueviolet, violet);
  margin-top: 3vw;
}
/*# sourceMappingURL=sst-hhw.css.map */